 body a{
    text-decoration: none;
    color: black;
}



/* img{
    animation: a 2s linear infinite;
    border-radius: 50%;

}
@keyframes a{
    form{transform: rotate(0deg );
    }
    to{transform:rotate(360deg) ;}
} 